directory: /Volumes/Toshiba/Music/Library
library: ~/.config/beets/library.db

paths:
  comp: Compilations/[$year] $album%aunique{}/%if{$isMultidisc,Disc $disc/}$track. $artist - $title
  singleton: Non-Album/$albumartist - $title
  default: $albumartist/[$year] $album%aunique{}/%if{$isMultidisc,Disc $disc/}$track. $title

import:
  write: yes
  move: no
  copy: yes
  autotag: yes
  quiet_fallback: skip
  timid: no

plugins:
  - badfiles
  - chroma
  - convert
  - duplicates
  - edit
  - embedart
  - fetchart
  - fromfilename
  - info
  - inline
  - lyrics
  - mbcollection
  - mbsync
  - missing
  - musicbrainz
  - replaygain
  - scrub
  - zero

zero:
  fields: comments grouping encoder
  update_database: true

missing:
  format: $albumartist - $album - $title
  count: yes
  total: yes

duplicates:
  checksum: no

chroma:
  auto: yes

aunique:
  keys: albumartist album
  modifiers: mb_albumid
  bracket: '()'

artist_credit: no

threaded: yes

parentwork:
  force: no
  auto: yes

replaygain:
  auto: yes
  backend: ffmpeg

scrub:
  auto: yes

badfiles:
  check_on_import: yes
  commands:
    flac: flac --test --silent
    m4a: ffmpeg -v error -f null - -i
    mp3: "true"

fetchart:
  auto: yes
  maxwidth: 1200
  quality: 85
  cover_format: JPEG
  sources:
    - coverart

embedart:
  auto: yes
  remove_art_file: yes

item_fields:
  isMultidisc: 1 if disctotal > 1 else 0

convert:
  auto: no
  format: flac
  formats:
    flac:
      command: flac --best -e -p --preserve-modtime --force --verify $source -o $dest
      extension: flac

musicbrainz:
  user: egecelikci
  pass: '{{ (bitwardenSecrets "fa45b741-685c-4acb-9ef7-b47400f6afe5").value }}'
  extra_tags: [barcode, catalognum, country, label, media, year]
  genres: yes
  external_ids:
    discogs: no
    bandcamp: yes
    spotify: yes
    deezer: yes
    beatport: no
    tidal: yes

mbcollection:
  auto: yes
  collection: "0f143c2a-3b4b-41bc-8c22-9206d0767816"
  remove: yes

lyrics:
  auto: no
  fallback: null
  force: no
  print: no
  sources: [lrclib, genius]
  synced: yes
  genius_api_key: '{{ (bitwardenSecrets "c8eec299-8cf0-4a33-b625-b47400f6e3a2").value }}'

asciify_paths: yes

match:
  preferred:
    media: ['Digital Media|File']
  ignore_case: yes
  ignore_accent: yes

watch:
  directories:
    - /Volumes/Toshiba/Music/Downloads
