#!/usr/bin/env fish

# fish_plugins hash: {{ include "dot_config/private_fish/fish_plugins" | sha256sum }}

if not functions -q fisher
    echo "Installing Fisher…"
    curl -sL https://github.com/jorgebucaran/fisher/raw/refs/heads/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
end

echo "Updating Fish plugins…"
fisher update
