{{ if eq .chezmoi.os "android" }}
#!/bin/bash
set -euo pipefail
IFS=$'\n\t'
echo "Android environment detected. Bootstrapping restic backup…"

# Fetch and execute the install script
bash <(curl -fsSL https://codeberg.org/egecelikci/restic-termux-backup/raw/commit/f40a8ebe382f1c4444d05cb0a5c671b2ec090dbf/install.sh)
{{ end }}
