#!/usr/bin/env fish

if type -q atuin
    if not atuin status >/dev/null 2>&1
        echo "Authenticating Atuin with Bitwarden Secrets…"

        set -lx ATUIN_USERNAME "{{ (bitwardenSecrets "d6bf04ff-6b33-42cf-bfa6-b4690133b41c").value }}"
        set -lx ATUIN_PASSWORD "{{ (bitwardenSecrets "a437d588-0207-43ec-ac98-b4690133bcef").value }}"
        set -lx ATUIN_KEY "{{ (bitwardenSecrets "7ac89edd-5144-4026-b20a-b4690133a6cc").value }}"

        atuin login

        echo "Syncing shell history…"
        atuin sync
    else
        echo "Atuin is already authenticated."
    end
end
