#!/bin/bash
{{ if eq .chezmoi.os "android" }}
echo "Android environment detected. Bootstrapping restic backup…"

# Fetch and execute the install script
bash <(curl -fsSL https://codeberg.org/egecelikci/restic-termux-backup/raw/branch/main/install.sh)
{{ end }}
