CLOUDFLARE_API_TOKEN='{{ (bitwardenSecrets .bitwarden.cf_api_token_id).value }}'
CLOUDFLARE_TUNNEL_TOKEN='{{ (bitwardenSecrets .bitwarden.cf_tunnel_token_id).value }}'
DEEZER_ARL='{{ (bitwardenSecrets .bitwarden.deezer_arl_id).value }}'
LASTFM_APIKEY='{{ (bitwardenSecrets .bitwarden.lastfm_apikey_id).value }}'
LASTFM_SECRET='{{ (bitwardenSecrets .bitwarden.lastfm_secret_id).value }}'
POSTGRES_PASSWORD='{{ (bitwardenSecrets .bitwarden.postgres_password_id).value }}'
PROTON_WG_KEY='{{ (bitwardenSecrets .bitwarden.proton_wg_key_id).value }}'
GLUETUN_API_KEY='{{ (bitwardenSecrets .bitwarden.gluetun_api_key_id).value }}'
SLSK_PASSWORD='{{ (bitwardenSecrets .bitwarden.slsk_password_id).value }}'
SLSK_USERNAME='{{ (bitwardenSecrets .bitwarden.slsk_username_id).value }}'
SPOTIFY_ID='{{ (bitwardenSecrets .bitwarden.spotify_id_id).value }}'
SPOTIFY_SECRET='{{ (bitwardenSecrets .bitwarden.spotify_secret_id).value }}'
RADARR_API_KEY='{{ (bitwardenSecrets .bitwarden.radarr_api_key_id).value }}'
SONARR_API_KEY='{{ (bitwardenSecrets .bitwarden.sonarr_api_key_id).value }}'
SLSKD_API_KEY='{{ (bitwardenSecrets .bitwarden.slskd_api_key_id).value }}'
POCKETID_ENCRYPTION_KEY='{{ (bitwardenSecrets .bitwarden.pocketid_encryption_key_id).value }}'
POCKETID_CLIENT_ID='{{ (bitwardenSecrets .bitwarden.pocketid_client_id_id).value }}'
POCKETID_CLIENT_SECRET='{{ (bitwardenSecrets .bitwarden.pocketid_client_secret_id).value }}'
POCKETID_SMTP_PASSWORD='{{ (bitwardenSecrets .bitwarden.smtp_password_id).value }}'
