{{- if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config

Include /Users/egecelikci/.colima/ssh_config

Host codeberg.org
  IdentityAgent /Users/egecelikci/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock
  IdentitiesOnly yes
  IdentityFile /Users/egecelikci/.ssh/pc_auth.pub

Host git.sr.ht
  IdentityAgent /Users/egecelikci/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock
  IdentitiesOnly yes
  IdentityFile /Users/egecelikci/.ssh/pc_auth.pub

Host sunucu 192.168.1.20
  HostName 192.168.1.20
  User egecelikci
  IdentityAgent /Users/egecelikci/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock
  IdentitiesOnly yes
  IdentityFile /Users/egecelikci/.ssh/pc_auth.pub

Host openwrt 192.168.1.1
  HostName 192.168.1.1
  User root
  IdentityAgent /Users/egecelikci/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock
  IdentitiesOnly yes
  IdentityFile /Users/egecelikci/.ssh/openwrt.pub

{{- else if or (eq .chezmoi.os "linux") (eq .chezmoi.os "android") -}}
Host codeberg.org
  IdentityFile ~/.ssh/id_auth_ed25519

Host git.sr.ht
  IdentityFile ~/.ssh/id_auth_ed25519

Host gitlab.com
  IdentityFile ~/.ssh/id_auth_ed25519

Host sunucu 192.168.1.20
  HostName 192.168.1.20
  User egecelikci
  IdentitiesOnly yes
  IdentityFile ~/.ssh/id_auth_ed25519
{{- end -}}
