{{- if eq .chezmoi.os "android" -}}
{{ (bitwardenSecrets "b5f725bb-d2a4-4599-88bd-b46901407fab").value }}
{{- else if eq .chezmoi.os "linux" -}}
{{ (bitwardenSecrets "b3df6821-8ff5-4fe0-bbac-b48e00ad849a").value }}
{{- end -}}
