RCLONE_CONFIG_PASS='{{ (bitwardenSecrets .bitwarden.rclone_config_pass_id).value }}'
RCLONE_CONFIG_DRIVE_CLIENT_ID='{{ (bitwardenSecrets .bitwarden.gdrive_client_id_id).value }}'
RCLONE_CONFIG_DRIVE_CLIENT_SECRET='{{ (bitwardenSecrets .bitwarden.gdrive_client_secret_id).value }}'
