TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLIENTID='{{ (bitwardenSecrets .bitwarden.pocketid_client_id_id).value }}'
TINYAUTH_OAUTH_PROVIDERS_POCKETID_CLIENTSECRET='{{ (bitwardenSecrets .bitwarden.pocketid_client_secret_id).value }}'
