SLSKD_SLSK_USERNAME={{ (bitwardenSecrets .bitwarden.slsk_username_id).value }}
SLSKD_SLSK_PASSWORD={{ (bitwardenSecrets .bitwarden.slsk_password_id).value }}
SLSKD_VPN_GLUETUN_API_KEY={{ (bitwardenSecrets .bitwarden.gluetun_api_key_id).value }}
SLSKD_API_KEY={{ (bitwardenSecrets .bitwarden.slskd_api_key_id).value }}
