[user]
    name = Ege Çelikçi
    email = ege@celikci.me
    signingkey = ~/.ssh/id_sign_ed25519.pub

[gpg]
    format = ssh

[commit]
    gpgsign = true

[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers

[push]
    autoSetupRemote = true

[sendemail]
    smtpServer = mail-eu.smtp2go.com
    smtpServerPort = 2525
    smtpEncryption = tls
    smtpUser = ege
    smtpPass = {{ (bitwardenSecrets .bitwarden.smtp_password_id).value }}
    from = ege@celikci.me
    confirm = always

[core]
    editor = nano
{{- if eq .chezmoi.os "darwin" }}
    sshCommand = ssh -o IdentityAgent=~/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock
{{- else if eq .chezmoi.os "linux" }}
    sshCommand = ssh -i ~/.ssh/id_auth_ed25519 -o IdentitiesOnly=yes
{{- end }}

[safe]
    directory = ~/Git/ege.celikci.me

[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
