{
  "mcpServers": {
{{- if eq .chezmoi.os "darwin" }}
    "playwright": {
      "command": "npx",
      "args": [
        "-y",
        "@playwright/mcp@0.0.82",
        "--executable-path",
        "/Users/egecelikci/Applications/Helium.app/Contents/MacOS/Helium"
      ],
      "env": {
        "PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD": "1"
      }
    },
    "nixos": {
      "command": "/Users/egecelikci/.local/bin/uvx",
      "args": [
        "mcp-nixos"
      ]
    }
{{- else if eq .chezmoi.os "linux" }}
    "playwright": {
      "url": "http://localhost:8931/mcp"
    },
    "nixos": {
      "command": "/etc/profiles/per-user/egecelikci/bin/mcp-nixos"
    }
{{- end }}
  }
}
